div {
	margin: 20px;
}

#header {
	text-align: center;
}

.container {
	display:grid;
	grid-template-columns: 2fr 2fr 1fr 2fr;
	}

#centralArea {
	display: grid;
	grid-column-start: 2;
	grid-column-end: span 2;
	grid-template-columns: subgrid;
	border-style: solid;
	min-height: 650px;
}

.tool {
	grid-column-start: 1;
}

.notes {
	grid-column-start: 2;
}

#notesCon {
	display: none;
}
