body {
	margin:0
}

.right {
  float:right;
  margin-right:5px;
}

.left {
  float:left;
  margin-left:5px;
}

.header {
  display:grid;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  background-color:black;
  grid-template-rows: 1fr;
}

div {
  border-style:solid;
}

.hdrmenu {
	display:grid;
	grid-template-columns: 0.25fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.25fr;
	background-color:black;
}

#mnitems {
  grid-column-start:2;
  }

.hdrmenu a {
  border-style:solid;
  border-color:black;
  border-radius:40px;
  color:orange;
}


.hdrmenu a:hover {
	border-style:solid;
	border-color:white;
}

.sidebar {
  position:sticky;
  top:0;
  height: 100vh;
}

.sidebar a {
  margin:0px;
  padding:0px 50px 0px 0px;
  color:black
}

.sidebar a:hover {
	border-style:solid;
	border-color:orange;
}

.container {
  display:grid;
  grid-template-columns: 200px 1fr;
}

img {
  margin:50px 25px 10px 50px;
}

#angle {
  height:500px;
  float:right;
}

#audio {
  height:200px;
  float:right;
}

p {
  margin-right:25px
}

figure {
  float:right
}

figcaption {
  text-align:center;
}

#logo {
	height:50px;
	width:50px;
	top:0;
	margin: 0px 0px 0px 0px;
	justify-self:end;
}

h1 {
	margin-top:2px;
	margin-left:5px;
	color:white;
	font-family:"Geom", sans-serif;
	font-size:20px;
}

#subt {
	font-size:15px;
	margin-top:0px;
	margin-bottom:0px;
	color:white;
}

* {
	font-family:"Saira", sans-serif;
}

#srcButt {
	width:100px;
}

a {
	text-decoration:none;
}
