.right {
  float:right;
  margin-right:5px;
}

.left {
  float:left;
  margin-left:5px;
}

.header {
  text-align:center;
}

div {
  border-style:solid;
  margin:5px;
}

.hdrmenu a {
  padding:10px 50px 10px 10px;
}

.sidebar {
  position:sticky;
  top:0;
  height: 100vh;
}

.sidebar a {
  padding:10px 50px 10px 10px;
}

.container {
  display:grid;
  grid-template-columns: 200px 1fr;
}

img {
  margin:50px 25px 50px 50px;
}

#angle {
  height:500px;
  float:right;
}

#audio {
  height:200px;
  float:right;
}

p {
  margin-right:25px
}
